# dependencies
node_modules/

# next build
.next/
out/

# build
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
backend/analytics-*.log

# env
.env
.env.*
!.env.example

# misc
*.tsbuildinfo
.DS_Store
